@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
  --main_text_color: #000102;
  --sub_text_color: #949598;
  --accent_color: #FC4512;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: var(--main_text_color);
  font-family: 'Nunito', sans-serif;
}

/* NAV SECTION */

nav {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  padding: 32px 80px;

  z-index: 1;
}

.back-arrow {
  margin-right: 24px;
  color: var(--main_text_color);

  cursor: pointer;
}

nav h5 {
  letter-spacing: 0.2em;
  color: var(--sub_text_color);
}

/* STAT SECTIONS */

#main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100vh;

  /* padding: 0 256px; */
  padding: 0 15%;

  scroll-snap-align: center;
}

.stat .left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
}

.stat .right {
  display: flex;
  justify-content: center;

  width: 30%;
}

.stat h1 {
  font-weight: 400;
}

.stat h3 {
  color: var(--sub_text_color);
  font-weight: 300;
  font-style: italic;

  margin: 48px 0 0 0;
}

.stat h3:nth-of-type(1) {
    padding: 0 0 0 48px;
}

.stat h3:nth-of-type(2) {
    padding: 0 0 0 96px;
}

/* MAP SECTION */

.map {
  height: 100vh;

  scroll-snap-align: center;
}

.map .inner {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.map iframe {
  height: 70%;
  width: 70%;

  border: 5px solid var(--accent_color);
  border-radius: 16px;
}

/* RESULTS SECTION */

.grading-container {
  position: relative;
}

.grading-container .nav-arrow {
  position: absolute;
  opacity: 1;
}

.grading-container .nav-arrow:nth-of-type(1) {
  top: 50%;
  right: 105%;
}

.grading-container .nav-arrow:nth-of-type(2) {
  top: 50%;
  left: 105%;
}

.grading-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid var(--sub_text_color);
  border-radius: 16px;

  padding: 8px;

  height: 240px;
}

.grading-card h5 {
  height: 20%;

  font-size: 1.2em;

  color: var(--accent_color);
}

.grading-card ul {
  height: 80%;

  list-style-type: none;

  font-size: 0.7em;

  margin-top: 16px;
}

.grading-card ul li {
  margin-bottom: 8px;

  font-weight: 300;

  color: var(--main_text_color);
}

#a {
  display: flex;
  opacity: 1;
}

#b {
  display: none;
  opacity: 0;
}

#c {
  display: none;
  opacity: 0;
}

#d {
  display: none;
  opacity: 0;
}

#f {
  display: none;
  opacity: 0;
}

/* WHY SECTION */
.why {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  scroll-snap-align: center;
}

.why .top {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.why .top h1 {
  font-weight: 400;
}

.why .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 70%;

  padding-top: 32px;
}

.why .bottom .why-card {
  display: flex;
  align-items: center;

  width: 90%;

  margin-top: 32px;
}

.why .bottom .why-card:nth-of-type(2) {
  padding-left: calc(96px * 1);
}

.why .bottom .why-card:nth-of-type(3) {
  padding-left: calc(96px * 2);
}

.why .bottom .why-card:nth-of-type(4) {
  padding-left: calc(96px * 3);
}

.why .bottom .why-card:nth-of-type(5) {
  padding-left: calc(96px * 4);
}

.why .bottom .why-card .left {
  display: flex;
  justify-content: center;

  width: 20%;
}

.why .bottom .why-card .right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
}

.why .bottom .why-card h3 {
  color: var(--main_text_color);
  font-weight: 300;

  font-size: 1em;
}

.why .bottom .why-card h5 {
  color: var(--sub_text_color);
  font-weight: 300;
  font-style: italic;
  
  font-size: 0.8em;

  margin-top: 8px;
}

.why .bottom .why-card h5:nth-of-type(1) {
    padding: 0 0 0 48px;
}

.why .bottom .why-card h5:nth-of-type(2) {
    padding: 0 0 0 96px;
}


/* FINAL CTA SECTION */
.cta {
  height: 100vh;

  scroll-snap-align: center;
}

.cta .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  text-align: center;

}

.end-text a {
  color: var(--accent_color);
  text-decoration: none;
}

.end-text h1 {
  font-weight: 400;
  margin-bottom: 32px;
}

.end-text h3 {
  color: var(--main_text_color);
  font-weight: 300;
  font-style: italic;

  margin-bottom: 32px;
}

.end-text h5 {
  color: var(--sub_text_color);

  font-weight: 300;
  font-style: italic;

  letter-spacing: 0.1em;
}

.end-text h5 a {
  color: var(--sub_text_color);
}

/* IMAGE OPTIONS */
/* PRE ANIMATION SETTINGS */

.fas {
  opacity: 0;
}

.fa-arrow-left {
  opacity: 100;
}

#risc-logo {
  font-size: 8em;

  opacity: 0;
}


/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  
  .stat {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .stat .left {
    width: 75%;

    margin-top: 48px;

    font-size: 0.8em;
  }

  .stat .left h3 {
    padding: 0;
  }

  .stat .right {
    width: 75%;
  }

  .why {
    font-size: 0.8em;
  }

  .why .top {
    margin-bottom: 16px;
  }

  .why .bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: 50%;
  
    padding-top: 0;

    overflow: scroll;
  }

  .why .bottom .why-card {
    width: 75%;
  }

  .why .bottom .why-card:nth-of-type(2) {
    padding-left: 0;
  }

  .why .bottom .why-card:nth-of-type(3) {
    padding-left: 0;
  }

  .why .bottom .why-card:nth-of-type(4) {
    padding-left: 0;
  }

  .why .bottom .why-card:nth-of-type(5) {
    padding-left: 0;
  }

  .why .bottom .why-card .fas {
    font-size: 1.5em;
  }

  .why .bottom .why-card h5:nth-of-type(1) {
    padding-left: 24px;
  }

  .why .bottom .why-card h5:nth-of-type(2) {
    padding-left: 48px;
  }
}