@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --accent-text-color: #fc4512;
    --accent-grey: #808080;
}

/* REACT APP ROOT */

#root {

    font-family: 'Nunito', sans-serif;

    padding: 5%;
}

a {
    text-decoration: none;
    color: var(--accent-grey);

    transition-property: color;
    transition-duration: 0.5s;
}

a:hover {
    color: var(--accent-text-color);
}

/* HEADING SECTION */

.headingSection {
    margin-bottom: 3rem;
}

.headingSection h1 {
    margin-bottom: 1rem;

    color: var(--accent-text-color);
}

.headingSection h3 {
    padding-right: 40%;
}

/* MAP SECTION */

.mapSection {
    display: flex;
    height: 60vh;
    width: 100%;

    margin-bottom: 3rem;
}

/* this is the actual leaflet map */
.leaflet-container {
    border: 3px solid var(--accent-text-color);
    border-radius: 16px;

    height: 100%;
    width: 60%;
}

/* this is the right side where the information is */
.stateInfo {
    padding: 2.5%;

    height: 100%;
    width: 40%;
}

.stateInfo .stateAnalysis {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stateInfo .stateNGSS {
    margin-top: 1rem;
}

/* WHY SECTION */

.whySection {
    padding-left: 5%;
    padding-right: 20%;
    margin-bottom: 3rem;
}

.whySection h3 {
    color: var(--accent-text-color);
    margin-bottom: 1.5rem;
}

.whySection p {
    margin-bottom: 1rem;
}

/* HOW SECTION */

.howSection {
    padding-left: 5%;
    padding-right: 20%;
    margin-bottom: 3rem;
}

.howSection h3 {
    color: var(--accent-text-color);
    margin-bottom: 1.5rem;
}

.howSection .listSection {
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;
}

.howSection .listSection ul {
    margin: 2.5%;
}

/* CHART SECTION AND CHART ITEMS */

.chartSection {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.chartItem {
    display: flex;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* this is left side with grade name */
.chartItem .chartGradeName {
    width: 30%;

    display: flex;
    align-items: center;

    font-size: 3rem;
}

.chartItem .chartGradeName h3 {
    margin-left: 55%;
}

/* this is the right side with criteria */
.chartItem .chartGradeCriteria {
    width: 70%;
}

.chartItem .chartGradeCriteria ul li {
    margin-bottom: 0.5rem;
}

.chartSection .chartCaption {
    font-size: 0.7rem;
    padding-left: 30%;
    padding-right: 20%;
}

/* CLOSING SECTION */

.closingSection {
    margin-top: 5rem;
    text-align: left;
}

.closingSection p {
    margin-bottom: 1rem;

    font-size: 1.2rem;
}