/* gotham light font */
@font-face {
    font-family: Gotham Rounded;
    src: url(./assets/fonts/gotham-rounded/GothamRounded-Light.otf) format('opentype');
    font-weight: lighter;
    font-style: normal;
}

/* gotham book font */
@font-face {
    font-family: Gotham Rounded;
    src: url(./assets/fonts/gotham-rounded/GothamRounded-Book.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* gotham medium font */
@font-face {
    font-family: Gotham Rounded;
    src: url(./assets/fonts/gotham-rounded/GothamRounded-Medium.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #121212;
    --main-text-color: rgba(255, 255, 255, 0.85);
    --accent-text-color: #fc4512;
    --accent-grey: #808080;
}

body {
    background-color: var(--background-color);
}

/* REACT APP ROOT */

#root {

    font-family: 'Gotham Rounded', sans-serif;

    padding: 5%;

    color: var(--main-text-color);
}

a {
    text-decoration: none;
    color: var(--accent-grey);

    transition-property: color;
    transition-duration: 0.5s;
}

a:hover {
    color: var(--accent-text-color);
}

p {
    line-height: 1.8rem;
}

h1 {
    font-weight: normal;
}

h3 {
    font-weight: lighter;
}

p {
    font-weight: lighter;
}

/* HEADING SECTION */

.headingSection {
    margin-bottom: 5rem;

    padding-left: 5%;
}

.headingSection h1 {
    margin-bottom: 1rem;

    font-size: 3rem;

    color: var(--accent-text-color);
}

.headingSection h3 {
    padding-right: 40%;

    font-size: 1.8rem;
    font-weight: normal;

    letter-spacing: 0.1rem;
}

/* MAP SECTION */

.mapSection {
    display: flex;
    height: 550px;

    padding-left: 5%;

    margin-bottom: 5rem;
}

/* this is the actual leaflet map */
.leaflet-container {
    border: 3px solid var(--accent-text-color);
    border-radius: 16px;

    height: 100%;
    width: 55%;
}

/* this is the right side where the information is */
.stateInfo {
    padding: 1% 2.5%;

    height: 100%;
    width: 40%;
}

.stateInfo h1 {
    color: var(--accent-text-color);
}

.stateInfo .stateAnalysis {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stateInfo .stateNGSS {
    margin-top: 1rem;
}

/* DISTRIBUTION SECTION */
.distributionSection {
    padding-left: 5%;

    margin-bottom: 5rem;
}

.distributionSection h1 {
    font-size: 3rem;
}

.distributionSection h3 {
    color: var(--accent-text-color);
    margin-bottom: 1.5rem;
}

.distributionSection .breakdown {
    display: flex;

    gap: 10%;
}

/* WHY SECTION */

.whySection {
    padding-left: 5%;
    padding-right: 20%;
    margin-bottom: 5rem;
}

.whySection h3 {
    color: var(--accent-text-color);
    margin-bottom: 1.5rem;
}

.whySection p {
    margin-bottom: 1rem;
}

/* HOW SECTION */

.howSection {
    padding-left: 5%;
    padding-right: 20%;
    margin-bottom: 5rem;
}

.howSection h3 {
    color: var(--accent-text-color);
    margin-bottom: 1.5rem;
}

.howSection .listSection {
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;
}

.howSection .listSection ul {
    margin: 2.5%;
}


/* how section button */
.howSection .rubricController {
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.howSection .rubricController .rubricControllerInner {

    height: 50px;
    width: 220px;

    border: 3px solid var(--accent-grey);
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: border;
    transition-duration: 0.5s;
}

.howSection .rubricController .rubricControllerInner:hover{
    cursor: pointer;

    border: 3px solid var(--accent-text-color)
}

.howSection .rubricController .rubricControllerInner h3 {
    margin-bottom: 0;

    color: var(--accent-grey);

    transition-property: color;
    transition-duration: 0.5s;
}

.howSection .rubricController .rubricControllerInner h3:hover {
    color: var(--accent-text-color);
}

/* chart subsection and chart items*/
.chartSection {
    margin-top: 5rem;
    margin-bottom: 5rem;

    padding: 1%;

    border: 3px solid var(--accent-grey);
    border-radius: 16px;
}

.chartItem {
    display: flex;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* this is left side with grade name */
.chartItem .chartGradeName {
    width: 30%;

    display: flex;
    align-items: center;

    font-size: 3rem;
}

.chartItem .chartGradeName h3 {
    margin-left: 40%;
}

/* this is the right side with criteria */
.chartItem .chartGradeCriteria {
    width: 70%;
}

.chartItem .chartGradeCriteria ul li {
    margin-bottom: 0.5rem;
}

.chartSection .chartCaption {
    font-size: 0.7rem;
    padding-left: 30%;
    padding-right: 20%;
}

/* CLOSING SECTION */

.closingSection {
    margin-top: 5rem;

    padding-left: 5%;
    padding-right: 20%;
}

.closingSection h3 {
    color: var(--accent-text-color);
    margin-bottom: 1.5rem;
}

.closingSection p {
    margin-bottom: 1rem;

    font-size: 1.2rem;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
    /* HEADING SECTION */
    .headingSection h3 {
        padding-right: 20%;
    }


    /* MAP SECTION */
    .mapSection{
        flex-direction: column;
        overflow: scroll;
    }
    .leaflet-container {
        width: 90%;
        height: 50%;
    }
    .stateInfo {
        width: 90%;
        height: 50%;
    }

    .stateInfo h1 {
        margin-top: 1rem;
    }

    /* DISTRIBUTION SECTION */
    .distributionSection .breakdown {
        gap: 5%;
    }

    /* HOW SECTION */
    .howSection .listSection ul li {
        margin: 10% 0;
    }

    .howSection .chartSection .chartItem {
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }
}